/.idea/vcs.xml
/build.gradle
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/gradlew
/gradlew.bat
/src/main/resources/META-INF/mods.toml
/src/main/resources/pack.mcmeta
/run/
